* {
  padding: 0;
  margin: 0;
}

@media (hover: hover) {
  a {
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

.topics-carousel {
  margin-block-start: 60px;

  --slide-width-pc: 400px;
  --slide-height-pc: 250px;
  --slide-rate-min: 0.85;
  --slide-rate-max: 1;
}

.topics-carousel-track {
  padding-block-end: 30px;
}

.topics-carousel-slide {
  position: relative;
  inset-block-start: 0;
  display: block;
  max-inline-size: var(--slide-width-pc);
  block-size: var(--slide-height-pc);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: inset-block-start 640ms cubic-bezier(0.165, 0.84, 0.44, 1),
    max-inline-size 640ms cubic-bezier(0.165, 0.84, 0.44, 1),
    block-size 640ms cubic-bezier(0.165, 0.84, 0.44, 1);

  &:not(.is-active) {
    inset-block-start: 36px;
    max-inline-size: calc(var(--slide-width-pc) * var(--slide-rate-min));
    block-size: calc(var(--slide-height-pc) * var(--slide-rate-min));
  }
}

.topics-carousel-thumbnail {
  inline-size: var(--slide-width-pc);
  block-size: var(--slide-height-pc);
  transition: transform 640ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: scale(var(--slide-rate-max), var(--slide-rate-max));

  .topics-carousel-slide:not(.is-active) & {
    transform: scale(var(--slide-rate-min), var(--slide-rate-min));
    transform-origin: left top;
  }
}
